<!--Mads Nørgaard-->
<div class="row">
    <!--<aside class="col-sm-3" id="left">
        
        <reports></reports>
        <parameters></parameters>
    </aside>
    <section class="col-sm-9" id="right">
        <report-window>please wait</report-window>
    </section>-->

    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-12" style="max-height: 650px; overflow: scroll; margin: 0px; margin-left: 5px;"><reports></reports></div>
                <div class="col-sm-12" style="border-right: 1px solid black; margin: 0px;"><parameters></parameters></div>
            </div>
        </div>
        <div class="col-sm-9" style="padding: 0px; margin: 0px; padding: 0px;"><report-window>please wait</report-window></div>
    </div>
    
</div>