<!--Mads Nørgaard-->
<div class="row">
    <div class="col-sm-3" style="background: #313b3f">
            <reports></reports>
    </div>
    <div class="col-sm-9">
        <parameters style="background: #F5F7F8"></parameters>
        <report-window style="background: #F5F7F8">please wait</report-window>
    </div>
</div>



    <!--<div class="row">
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-12" ><reports></reports></div>
                <div class="col-sm-12"><parameters></parameters></div>
            </div>
        </div>
        <div class="col-sm-9"><report-window></report-window></div>
    </div>-->

