<!--Mads Nørgaard-->
<!--<div class="row">
    <div class="col-sm-3" id="left" style="border: 1px solid; resize: horizontal;">
            <reports></reports>
            <parameters></parameters>

    </div>
    <div class="col-sm-9">
        <report-window>please wait</report-window>
    </div>
</div>-->
<p-toolbar>
    <div class="ui-toolbar-group-left">
        <label>CSMardown</label>
    </div>
</p-toolbar>


    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <div class="col-sm-12" ><reports></reports></div>
                <div class="col-sm-12"><parameters></parameters></div>
            </div>
        </div>
        <div class="col-sm-9"><report-window></report-window></div>
    </div>

