<!--Nicholai Axelgaard-->
<p-toolbar>
    <div class="ui-toolbar-group-left"> 
        <button pButton type="button" (click)="GetParameters($event)" icon="fa fa-eye"></button>
        <button pButton type="button" (click)="RefreshReport()" icon="fa fa-refresh"></button>
        <button pButton type="button" (click)="ShowReportInLog2($event)" icon="fa fa-bug"></button>
        <!--<button pButton type="button" (click)="isCollapsed = !isCollapsed" icon="fa fa-eye"></button>-->
    </div>
    <div class="ui-toolbar-group-right">
        <button pButton type="button" (click)="GetPdf()" icon="fa fa-floppy-o"></button>
    </div>
</p-toolbar>

<div id="par" style="border-top: 1px solid black" [collapse]="isCollapsed" (collapsed)="collapsed($event)" (expanded)="expanded($event)">
    <ul>
        <li *ngFor="let param of this.localParameters; let p = index" style="list-style:none; margin-top: 20px">

            <div style="border-top:solid; border-top-width:thin">
                <label style="float:left">
                    {{param.Key}}
                </label>
                <ul style="list-style:none">
                    <li *ngFor="let value of param.Value; let v = index" style="margin-top:5px">

                        <button (click)="AddNewBefore(p,v)" *ngIf="IsItAnArray(param.ParamType)">+</button>
                        <input name="p{{p}}v{{v}}" type="{{param.ParamType}}" [value]="value" (change)="InputChanged(p,v,$event)" (focusout)="InputLostFocus(p,v,$event)" />
                        <button (click)="RemoveThis(p,v)" *ngIf="IsItAnArray(param.ParamType)">-</button>

                    </li>
                    <li *ngIf="IsItAnArray(param.ParamType)">
                        <button (click)="AddNewAtEnd(p)">Add new</button>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <!--<button (click)="RefreshReport()">Refresh report with parameters</button>
    <button (click)="GetParams($event)">Run GetParameters</button>
    <button (click)="ShowReportInLog2($event)">Show ReportModel in Console log</button>-->
</div>
