<!--Nicholai Axelgaard-->
<div style="border-top: 1px solid black">
    <ul>
        <li *ngFor="let param of this.localParameters; let p = index" style="list-style:none; margin-top: 20px">

            <div style="border-top:solid; border-top-width:thin">
                <label style="float:left">
                    {{param.Key}}
                </label>
                <ul style="list-style:none">
                    <li *ngFor="let value of param.Value; let v = index" style="margin-top:5px">

                        <button (click)="AddNewBefore(p,v)" *ngIf="IsItAnArray(param.ParamType)">+</button>
                        <input name="p{{p}}v{{v}}" type="{{param.ParamType}}" [value]="value" (change)="InputChanged(p,v,$event)" (focusout)="InputLostFocus(p,v,$event)" />
                        <button (click)="RemoveThis(p,v)" *ngIf="IsItAnArray(param.ParamType)">-</button>

                    </li>
                    <li *ngIf="IsItAnArray(param.ParamType)">
                        <button (click)="AddNewAtEnd(p)">Add new</button>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <button (click)="RefreshReport()">Refresh report with parameters</button>
    <button (click)="GetParams($event)">Run GetParameters</button>
    <button (click)="ShowReportInLog2($event)">Show ReportModel in Console log</button>
</div>
